
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.pdb
*.mdb
*.cache
*.dbmdl

.idea/
*.sln.iml
*.DotSettings.user


.vscode/

*.nupkg
*.snupkg
packages/
.nuget/


*.user
*.suo
*.userosscache
*.rsuser


*.log
*.tmp
*.temp
*.bak
*.swp


.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

.idea_modules/
out/
artifacts/
build/
publish/

